#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0px;
  background-color: #00a087;
  height: 80px;
  color: #e8fdff;
  padding: 0px 2em 0px 2em;

}

#compose-button {
  float: right;
  padding: 12px;
  margin-top: 16px;
  margin-right: 8px;
  border-radius: 8px;
  background-color: #daf7a6;
  font-size: 17px;

}

#compose-button:hover {
  background-color: white;
  color: #00a087;

}


#nav-bar .header {
  top: 10px;
  line-height: 80px;
  float: left;
  font-size: 2rem;
  margin-left: 10px;

}