.new-tweet {
  margin: 2em;
  border: 1px solid #c0c0c075;
  position: relative;
  background-color: #eee;
  top: 35px;
  border-radius: 10px;
  padding-bottom: 10px;
  display: none;
}

#error {
  display: none;
  justify-content: flex-start;
  color: red;
  padding-bottom: 10px;
  padding-left: 15px;
}

section h2 {
  margin: 10px 12px 20px 12px;
  border-bottom: 2px solid;
}

textarea#tweetbox {
  width: 94%;
  margin: 0 12px;
  position: relative;
  padding: 5px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #c0c0c075;
}

input {
  margin-left: 12px;
  border-radius: 5px;
  background-color: #daf7a694;
  margin-top: 4px;
}

span.counter {
  float: right;
  margin: 9px 15px;
}