#tweet-log {
  padding: 10px 2px 20px 2px;
}


.tweet {
  display: block;
  border: 2px solid #c0c0c075;
  border-radius: 10px;
}

.tweet:hover {
  border-color: #848484;
}

.space {
  margin: 8px 30px;
}

.tweet p {
  padding: 30px 10px;
  background-color: white;
  margin: 0;
  font-size: 18px
}

.tweet-head {
  background-color: #eee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tweet footer {
  background-color: white;
  border-top: 1px solid #c0c0c075;
  height: 28px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px 10px;
  display: flex;
  align-items: center;

}

.tweet header {
  padding: 5px 10px;
  color: #3e7686;
  opacity: .8;
}

.tweet:hover header {
  opacity: 1;
}

.tweet img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  opacity: .8;
  margin-top: 2px;
}

.tweet:hover img {
  opacity: 1;
}

span.username {
  font-size: 30px;
  font-weight: bold;
  vertical-align: top;
  padding-left: 5px;
  opacity: 0.8;
  display: inline-block;
  max-width: 220px;
}

span.username:hover {
  opacity: 1;
}


div.icon-wrap {
  margin-left: auto;
  display: none;
}

.tweet:hover div.icon-wrap  {
  display: block;
}

span.tw-name {
  float: right;
  color: grey;
  padding-top: 10px;
}